@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic|Oswald:400,300);
html, body{
  font-size: 100%;
  font-family:'Fjalla One', sans-serif;
}

.bg-color-dark-cherry{
	background-color:#d43e2a;
}
.bg-gray{
	background-color:#f7f7f7;
}


#topbar{
	height:30px;
	padding-top:2px;
}
.navbar{
	background-color:#d43e2a;
	margin-bottom:1px !important;
	border:0px !important;
}
.navbar-default .navbar-nav>li>a{
	color:#fff !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color:#943161;
}
#top-logo{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-63px;
	margin-top:-62.5px;
	display:none;
}
.navbar li a span.cat-ico{
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
@media (min-width: 768px){
	.navbar-nav>li>a {
    	padding:20px 30px !important;
	}
	#top-logo{
		display:block;
	}
	.wraper{
		padding:15px 30px;
	}
}

#bar img{
	width:100%;
}

.btn-violet{
	background:#943161 !important;
	background-color:#943161 !important;
	color:#fff !important;
}
.btn-group .btn{
	background:#e3e3e3 !important;
}
.btn-group>.active,.btn-group>.active:focus,.btn-group>.active:hover{
	background:#d43e2a !important;
	color:#fff;
}
.btn-group>.active:after{
	content: '';
    position: absolute;
    left: 40%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #d43e2a;
    clear: both;
}
#content{
	margin-top:40px;
}
#content .content{
	padding:10px;
	color:#fff;
	border-radius:0px 0px 10px 10px;
	margin-bottom:30px;
	position:relative;
	border-top:1px solid #eee;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}
#content .thumbnail{
	padding:0px;
	border:0px;
	margin-bottom:0px;
	background:transparent;
	position:relative;
}
#content .thumbnail .hover{
	position:absolute;
	bottom:0px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	color:#fff;
	width:100%;
	transform:translateY(60px);
	transition:0.3s transform;
}

#content .thumbnail:hover .hover{
	transform:translateY(0px);
}

#content .thumbnail img.cover{
	border-radius:10px 10px 0px 0px;
	height:250px;
	width:100%;
}

.btn-round{
	border-radius:50%;
    padding: 6px 10px !important;
}
.btn-round-animated{
	transition:0.2s all;
}
.btn-round-animated:hover{
	background-color:#fff !important;
	color:#d43e2a;
	border:1px solid #d43e2a;
}
.btn-round-animated span.glyphicon{
	transition:0.4s transform;
}
.btn-round-animated:hover span.glyphicon{
	transform:rotate(360deg);
}

.bg-orange{
	background-color:#eb523d;
}
.bg-violet{
	background-color:#943161;
}
.popover-content a{
	padding:5px 10px;
	display:inline-block;
	font-size:21px;
	color:#000;
}
#content .user{
	position:absolute;
	right:20px;
	top:20px;
	height:40px;
	width:40px;
}

#round-nav{
	padding:10px;
	margin-bottom:100px;
}
#round-nav a{
	display:inline-block;
	width:15px;
	height:15px;
	border-radius:50%;
	border:1px solid #999;
}
#round-nav a.active{
	background-color:#ddd;
}
footer{
	background-color:#d43e2a;
}
footer h4{
	margin:0px;
	color:#fff;
	padding:20px;
}
.cat-modal .modal-content{
	background-color:rgba(200, 77, 61, 0.80);
	color:#fff;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.music_box{
	box-shadow:0px 0px 6px 5px #ec6a58;
	background-color:#731509;
}
.music_box h4{
	margin-top:0px;
}
.music_box .details{
	position:relative;
	top:-40px;
}
.music_box .progress{
	background-color:#882013;
	position:relative;
	top:-35px;
	height:5px;
    border-radius:0px;
    margin-bottom:0px;
}

.music_box .progress-bar{
	background-color:#d53e2b;
}
.progress-label{
	position:relative;
	top:-35px;
}
.progress-label label{
	font-family:sans-serif;
	font-weight:300;
	padding:5px;
	font-size:12px;
	color:#ddd;
}
.music_controls{
	position:relative;
}
.music_controls a{
	color:#fff;
}
.music_controls .play{
	position:absolute;
	width:100%;
}
.music_controls .play .cirlce{
	display:inline-block;
	padding:12px 15px;
	margin-top:-12px;
	border-radius:50%;
	background-color:#a85e54;
}
.clear{
	clear:both;
}
.range{
	padding:20px 0px;
	position:relative;
	margin-bottom:20px;
}
.rslider{
	position:absolute;
	width:100%;
}
.rslider .sbox{
	padding:0px 50px;
}
.p10{
	padding:0px 20px;
}
.music_list{
	padding:10px;
	color:#555;
	border:1px solid #ddd;
}
.music_list .deco{
	padding-right:10px;
	margin-left:10px;
}
.deco.bor{
	border-right:1px solid #ddd;
}
.music_list a{
	color:#555;
}
.cat-modal-close{
	display:inline-block;
	padding:2px 7px !important;
	opacity:0.9;
	background-color:#fff !important;
	border-radius:50%;
	color:#ec6a58;
	position:relative;
    top: -9px;
    right: -9px;
}
.cat-modal-close:hover{
	background-color:#fff !important;
}
.pop-nav-left{
	position:absolute;
	top:50%;
	width:50px;
	height:50px;
	left:-60px;
	margin-top:-25px;
	border-radius:50%;
	background-color:rgba(255,255,255,0.7);
	text-align:center;
	line-height:50px;
	font-size:22px;
	color:#000;
}

.pop-nav-right{
	position:absolute;
	top:50%;
	width:50px;
	height:50px;
	right:-60px;
	margin-top:-25px;
	border-radius:50%;
	background-color:rgba(255,255,255,0.7);
	text-align:center;
	line-height:50px;
	font-size:22px;
	color:#000;
}
#topbar .cat-form-control{
	border:0px;
	font-family:sans-serif;
	font-size:12px;
	outline:none;
}
.social-icos a{
	color:#ddd;
	font-size:14px;
	display:inline-block;
	margin-left:5px;
}
.video_title{
	background-color:rgba(151, 53, 39, 0.60);;
	padding:20px;
	border-radius:10px;
	font-family:sans-serif;
}
.vcenter_container{
	display:table;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.vcenter_box{
	display:table-cell;
	vertical-align:middle;
}
.video_share a{
	font-size:22px;
	display:inline-block;
	margin-left:10px;
	color:#fff;
}
.video{
	margin-top:30px;
	border:5px solid #d89087;
	border-radius:10px;
}
.video_list{
	background-color:#e9e9e9;
	position:relative;
	height:100%;
	padding:50px 10px 40px 10px;
    top: -10px;
    border-radius:10px;
}
.video_list img{
	margin-bottom:15px;
}
.video_list .upper{
	height:40px;
	width:100%;
	background-color:#fff;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:10px 10px 0px 0px;
}

.video_list .upper a,.video_list .lower a{
	display:inline-block;
	padding:2px 6px;
	margin-top:5px;
	border:3px solid #eee;
	border-radius:50%;
}

.video_list .lower{
	height:40px;
	width:100%;
	background-color:#fff;
	position:absolute;
	bottom:0px;
	left:0px;
	border-radius:0px 0px 10px 10px;
}
.vproimg{
	margin-top: 20px;
}